<div id="content">
    <div id="mask" >hello world</div>
    <span class="img_container" style="background: #eebf89;"></span>
    <span class="img_container" style="background: #31ffff;"></span>
    <span class="img_container" style="background: #ffd836;"></span>
    <span class="img_container" style="background: #70ff0a;"></span>
    <span class="img_container" style="background: #27a7ff;"></span>
    <span class="img_container" style="background: #ff93fe;"></span>
    <span class="img_container" style="background: #6779ff;"></span>
    <span class="img_container" style="background: #c4cc29;"></span>
</div>

